@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-font-size: 16px;
    --font-size-sm: 0.8rem;
    --font-size-lg: 2rem;
    --font-size-xlg: 3rem;
    --font-weight-bold: 600;
    --wide-letter-spacing: 0.07rem;
    --sm-primary-color: #00c1d8;
    --sm-secondary-color: #0086ff;
    --primary-header-height: 64px;
    --primary-header-height-mobile: 55px;
    --search-bar-height: 53px;
    --search-bar-height-mobile: 48px;
  }

  a {
    @apply text-secondary;
    @apply hover:underline;
  }
}

@layer components {
  .nlg-answer {
    a {
      @apply underline;
      @apply text-team-secondary;
    }

    & > p,
    & > ul {
      @apply my-[1em];
    }
  }

  .main-layout {
    @apply grid;
    @apply grid-cols-[1fr_min(1250px,_100%)_1fr];
    @apply w-full;
    @apply px-3;
    @apply md:px-[75px];

    & > * {
      @apply col-span-1;
      @apply col-start-2;
    }
  }

  .home-layout {
    @apply grid;
    @apply grid-cols-[auto_1fr];
    @apply grid-rows-[auto_1fr_auto];

    .sidebar {
      @apply col-span-1;
      @apply col-start-1;
      @apply row-span-full;
    }

    .main {
      @apply col-span-1;
      @apply col-start-2;
    }

    .content-layout {
      @apply grid;
      @apply grid-cols-[1fr_min(780px,_calc(100%_-_20px))_1fr];

      & > * {
        @apply col-span-1;
        @apply col-start-2;
      }

      .content-item-full {
        @apply col-span-full;
      }
    }
  }
}

.btn-gallery-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA4NmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCI+PHBhdGggZD0ibTIuMyAyLjNoOHY4aC04eiIvPjxwYXRoIGQ9Im0xMi41IDIuM2g4djhoLTh6Ii8+PHBhdGggZD0ibTIuMyAxMi41aDh2OGgtOHoiLz48cGF0aCBkPSJtMTIuNSAxMi41aDh2OGgtOHoiLz48L2c+PC9zdmc+Cg==');
}

.btn-money-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDA4NmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCI+PGNpcmNsZSBjeD0iOS44IiBjeT0iOS44IiByPSI3LjYiLz48cGF0aCBkPSJtMTUuMiAxNS4yIDUuMiA1LjIiLz48L2c+PC9zdmc+Cg==');
}

.group:hover {
  .btn-gallery-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiPjxwYXRoIGQ9Im0yLjMgMi4zaDh2OGgtOHoiLz48cGF0aCBkPSJtMTIuNSAyLjNoOHY4aC04eiIvPjxwYXRoIGQ9Im0yLjMgMTIuNWg4djhoLTh6Ii8+PHBhdGggZD0ibTEyLjUgMTIuNWg4djhoLTh6Ii8+PC9nPjwvc3ZnPgo=');
  }

  .btn-money-icon {
    background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiPjxjaXJjbGUgY3g9IjkuOCIgY3k9IjkuOCIgcj0iNy42Ii8+PHBhdGggZD0ibTE1LjIgMTUuMiA1LjIgNS4yIi8+PC9nPjwvc3ZnPgo=');
  }
}

.sidebar-hamburger-icon {
  background: url('/icons/icon-hamburger.svg') no-repeat center center;
}

.about-icon {
  background: url('/icons/icon-about.svg');
}

.blog-icon {
  background: url('/icons/icon-blog.svg');
}

.data-coverage-icon {
  background: url('/icons/icon-data-coverage.svg');
}

.elements-bball-icon {
  background: url('/icons/icon-elements-of-bball.svg');
}

.example-icon {
  background: url('/icons/icon-examples.svg');
}

.feedback-icon {
  background: url('/icons/icon-feedback.svg');
}

.gallery-icon {
  background: url('/icons/icon-gallery.svg');
}

.glossary-icon {
  background: url('/icons/icon-glossary.svg');
}

.harden-maze-icon {
  background: url('/icons/icon-harden-maze.svg');
}

.home-icon {
  background: url('/icons/icon-home.svg');
}

.money-icon {
  background: url('/icons/icon-money.svg');
}

.offers-icon {
  background: url('/icons/icon-offers.svg');
}

.shop-icon {
  background: url('/icons/icon-shop.svg');
}

.trending-icon {
  background: url('/icons/icon-trending.svg');
}

.voice-icon {
  background: url('/icons/icon-authentic-voices.svg');
}

.highlight,
.group:hover {
  .about-icon {
    background: url('/icons/teal/icon-about.svg');
  }

  .blog-icon {
    background: url('/icons/teal/icon-blog.svg');
  }

  .data-coverage-icon {
    background: url('/icons/teal/icon-data-coverage.svg');
  }

  .elements-bball-icon {
    background: url('/icons/teal/icon-elements-of-bball.svg');
  }

  .example-icon {
    background: url('/icons/teal/icon-examples.svg');
  }

  .feedback-icon {
    background: url('/icons/teal/icon-feedback.svg');
  }

  .gallery-icon {
    background: url('/icons/teal/icon-gallery.svg');
  }

  .glossary-icon {
    background: url('/icons/teal/icon-glossary.svg');
  }

  .harden-maze-icon {
    background: url('/icons/teal/icon-harden-maze.svg');
  }

  .home-icon {
    background: url('/icons/teal/icon-home.svg');
  }

  .money-icon {
    background: url('/icons/teal/icon-money.svg');
  }

  .offers-icon {
    background: url('/icons/teal/icon-offers.svg');
  }

  .shop-icon {
    background: url('/icons/teal/icon-shop.svg');
  }

  .trending-icon {
    background: url('/icons/teal/icon-trending.svg');
  }

  .voice-icon {
    background: url('/icons/teal/icon-authentic-voices.svg');
  }
}

/* ask bar styles */
.ask-bar-search-icon {
  background: url('/icons/icon-search.svg') no-repeat scroll center / contain;
}

.group:hover .ask-bar-search-icon,
.peer:focus ~ .ask-bar-search-icon {
  background: url('/icons/icon-search-blue.svg') no-repeat scroll center /
    contain;
}

.suggestion-nba-icon {
  background: url('/icons/icon-nba.svg') center / contain;
}

.suggestion-nfl-icon {
  background: url('/icons/icon-nfl.svg') center / contain;
}

.suggestion-mlb-icon {
  background: url('/icons/icon-mlb.svg') center / contain;
}

.suggestion-nhl-icon {
  background: url('/icons/icon-nhl.svg') center / contain;
}

.suggestion-pga-icon {
  background: url('/icons/icon-pga.svg') center / contain;
}

.suggestion-history-icon {
  background: url('/icons/icon-history.svg') center / contain;
}

.suggestion-example-icon {
  background: url('/finance/icons/icon-mag.svg') center / contain;
}

.container-open .input {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container-open .suggestions-container {
  display: block;
}

/* ^^^^^^^ */

.overview-quote-body {
  &::before {
    content: '';
    position: absolute;
    margin-left: -1.5em;
    width: 2em;
    height: 2em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('/quotes_start.svg');
  }

  &::after {
    content: '';
    position: absolute;
    margin-left: -0.65em;
    width: 2em;
    height: 2em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('/quotes_end.svg');
  }
}

.overview-affiliation {
  &-nflpa {
    background-image: url('/affiliations/nflpa.png');
  }

  &-disney {
    background-image: url('/affiliations/disney.svg');
  }

  &-greycroft {
    background-image: url('/affiliations/greycroft.svg');
  }

  &-google {
    background-image: url('/affiliations/google.svg');
  }
}

.about-stars-close-btn {
  background-image: url('/about-stars/close_button.svg');
}

.about-stars-play-btn {
  background-image: url('/about-stars/play_button.svg');
}

.star {
  &:nth-of-type(5) {
    @media screen and (max-width: 735px) {
      display: none;
    }
  }

  &:nth-of-type(6) {
    @media screen and (max-width: 799px) {
      display: none;
    }
  }

  &:nth-of-type(7) {
    @media screen and (max-width: 863px) {
      display: none;
    }
  }
}

.explore-search-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBjMWQ4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIj48Y2lyY2xlIGN4PSI5LjUiIGN5PSI5LjciIHI9IjcuMyIvPjxwYXRoIGQ9Im0xOS45IDIwLTUuMi01LjIiLz48L2c+PC9zdmc+Cg==')
    no-repeat center / contain;
}

.explore-flame-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzAwYzFkODtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTAiPjxwYXRoIGQ9Im0xMS4zIDIwLjRjMy40IDAgNi45LTQuMiAwLTEwLTYuOSA1LjctMy40IDEwIDAgMTB6Ii8+PHBhdGggZD0ibTExLjQgMi4zYzAgMy43LTYuNyA0LjUtNy44IDkuMS0xLjMgNS4xIDMuMSA5LjEgNy44IDkuMSA3LjMtLjEgMTMuNi05LjQgMC0xOC4yeiIvPjwvZz48L3N2Zz4=')
    no-repeat center / contain;
}

/* ads */

.ad-wrapper {
  margin: 20px auto;
  width: 100%;

  .ad {
    &.blank {
      display: none;
    }
  }

  &.blank {
    margin: 0 auto;
  }

  &.placement--answer_top {
    margin-top: 0;
  }

  &.placement--mobile_footer {
    background: white;
    bottom: 0;
    margin: 0 auto;
    position: sticky;
    z-index: 10;

    .ad {
      margin: 0 auto;
      position: relative;
      width: fit-content;

      a {
        display: block;
      }

      .close {
        background: white
          url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIyLjcgMjIuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0NzZ7ZmlsbDpub25lO3N0cm9rZTojOTY5Y2ExO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnIGlkPSJBdXRvLXN1Z2dlc3QxIj4KCTxnPgoJCTxsaW5lIGNsYXNzPSJzdDc2IiB4MT0iNC4yIiB5MT0iNC4yIiB4Mj0iMTguNSIgeTI9IjE4LjUiLz4KCQk8bGluZSBjbGFzcz0ic3Q3NiIgeDE9IjE4LjUiIHkxPSI0LjIiIHgyPSI0LjIiIHkyPSIxOC41Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+Cg==')
          center/17px no-repeat;
        border-radius: 100%;
        box-shadow: 0 6px 14px -2px rgb(0 0 0 / 70%);
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: 5px;
        top: -5px;
        transform: translateY(-50%);
        width: 25px;
      }
    }
  }
}

.ad-offer {
  width: 280px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 20px;
  position: relative;

  @media (--mobile) {
    width: 100%;
  }

  p {
    margin: 0;
  }

  &-img {
    height: 35px;
    position: absolute;
    top: 20px;
    right: 10px;
    object-fit: contain;
  }

  &-header {
    font-size: 2rem;
    line-height: 1.2;

    @apply font-semibold;
  }

  &-sub-header {
    @apply font-semibold;
    @apply text-lg;

    line-height: 1;
  }

  &-header-section,
  &-detail-section {
    margin: 20px 0;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #00c1d8;
    border-radius: 6px;
    color: white;
    width: 175px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);

    &:hover {
      text-decoration: none;
    }
  }
}

.alert-icon {
  background: url('/alert.svg') no-repeat center / contain;
}
