@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  html {
    font-size: 18px;
  }

  a {
    @apply text-secondary;
    @apply hover:underline;
  }
}

@layer components


input {
  padding: 0.5rem 0.75rem;
}

.suggestion-history-icon {
  background: url('/icons/icon-history.svg') center / contain;
}

/* ^^^^^^^ */

.overview-quote-body {
  &::before {
    content: '';
    position: absolute;
    margin-left: -1.5em;
    width: 2em;
    height: 2em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('/og/quotes_start.svg');
  }

  &::after {
    content: '';
    position: absolute;
    margin-left: -0.65em;
    width: 2em;
    height: 2em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('/og/quotes_end.svg');
  }
}

.overview-affiliation {
  &-nflpa {
    background-image: url('/affiliations/nflpa.png');
  }

  &-disney {
    background-image: url('/affiliations/disney.svg');
  }

  &-greycroft {
    background-image: url('/affiliations/greycroft.svg');
  }

  &-google {
    background-image: url('/affiliations/google.svg');
  }
}

.explore-search-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBjMWQ4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIj48Y2lyY2xlIGN4PSI5LjUiIGN5PSI5LjciIHI9IjcuMyIvPjxwYXRoIGQ9Im0xOS45IDIwLTUuMi01LjIiLz48L2c+PC9zdmc+Cg==')
    no-repeat center / contain;
}

.explore-flame-icon {
  background: url('data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjciIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6IzAwYzFkODtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTAiPjxwYXRoIGQ9Im0xMS4zIDIwLjRjMy40IDAgNi45LTQuMiAwLTEwLTYuOSA1LjctMy40IDEwIDAgMTB6Ii8+PHBhdGggZD0ibTExLjQgMi4zYzAgMy43LTYuNyA0LjUtNy44IDkuMS0xLjMgNS4xIDMuMSA5LjEgNy44IDkuMSA3LjMtLjEgMTMuNi05LjQgMC0xOC4yeiIvPjwvZz48L3N2Zz4=')
    no-repeat center / contain;
}

/* ads */
.ad-wrapper {
  margin: 20px auto;
  width: 100%;

  .ad {
    &.blank {
      display: none;
    }
  }

  &.blank {
    margin: 0 auto;
  }

  &.placement--answer_top {
    margin-top: 0;
  }

  &.placement--mobile_footer {
    background: white;
    bottom: 0;
    margin: 0 auto;
    position: sticky;
    z-index: 10;

    .ad {
      margin: 0 auto;
      position: relative;
      width: fit-content;

      a {
        display: block;
      }

      .close {
        background: white
          url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMi43IDIyLjciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIyLjcgMjIuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0NzZ7ZmlsbDpub25lO3N0cm9rZTojOTY5Y2ExO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnIGlkPSJBdXRvLXN1Z2dlc3QxIj4KCTxnPgoJCTxsaW5lIGNsYXNzPSJzdDc2IiB4MT0iNC4yIiB5MT0iNC4yIiB4Mj0iMTguNSIgeTI9IjE4LjUiLz4KCQk8bGluZSBjbGFzcz0ic3Q3NiIgeDE9IjE4LjUiIHkxPSI0LjIiIHgyPSI0LjIiIHkyPSIxOC41Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+Cg==')
          center/17px no-repeat;
        border-radius: 100%;
        box-shadow: 0 6px 14px -2px rgb(0 0 0 / 70%);
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: 5px;
        top: -5px;
        transform: translateY(-50%);
        width: 25px;
      }
    }
  }
}

.ad-offer {
  width: 280px;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 0 20px;
  position: relative;

  @media (--mobile) {
    width: 100%;
  }

  p {
    margin: 0;
  }

  &-img {
    height: 35px;
    position: absolute;
    top: 20px;
    right: 10px;
    object-fit: contain;
  }

  &-header {
    font-size: 2rem;
    line-height: 1.2;

    @apply font-bold;
  }

  &-sub-header {
    @apply font-bold;
    @apply text-xl;

    line-height: 1;
  }

  &-header-section,
  &-detail-section {
    margin: 20px 0;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #00c1d8;
    border-radius: 6px;
    color: white;
    width: 175px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);

    &:hover {
      text-decoration: none;
    }
  }
}
